**.o
tetris
libtetris.so
TODO.org
README.html
README.md
config
**/Makefile.in
**/Makefile
.deps
.libs
m4
config.log
config.status
libtool
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
*.tar.gz